<div>
  <h1>Welcome to {{ shop.name }} !</h1>
  <p>{{ settings.welcome_message }}</p>

  <div>
    {% for block in section.blocks %}
      <div>
        {% case block.type %}
          {% when 'text' %}
            <div class="text-block">
              {{ block.settings.text }}
            </div>
          {% when 'image' %}
            <div class="image-block">
              <img src="{{ block.settings.image | img_url: 'large' }}" alt="{{ block.settings.alt_text }}">
            </div>
        {% endcase %}
      </div>

    {% endfor %}
  </div>

  <div>
    <h2>Featured Products</h2>
    {% for product in collection.products %}
      {% render 'product-card' with product %}
    {% endfor %}
  </div>
  <div>
    {% render 'button' with 'Add to Cart' as label
      , 'submit' as type %}

    {% render 'button' with 'View Details' as label
      , 'button' as type
      , 'secondary' as class %}

    {% render 'button' with 'Out of Stock' as label
      , 'button' as type
      , disabled: true %}
  </div>

  <div>

    {% render 'image-with-alt' with product.featured_image
      , size: "medium" %}
    {% render 'image-with-alt' with article.image
      , size: "large" %}
  </div>
  <div>
    {% if settings.facebook_url != blank %}
      {% render 'social-icon' with settings.facebook_url as url
        , 'facebook' as name %}
    {% endif %}

    {% if settings.twitter_url != blank %}
      {% render 'social-icon' with settings.twitter_url as url
        , 'twitter' as name %}
    {% endif %}

    {% if settings.instagram_url != blank %}
      {% render 'social-icon' with settings.instagram_url as url
        , 'instagram' as name %}
    {% endif %}
  </div>


</div>

<div> {% section 'featured-products' %} </div>