<div class="product-page">
    <h1>{{ product.title }}</h1>
<div>
{%for image in product.images%}
<img src="{{image |  image_url: 'large'}} alt="{{ image.alt | escape }}" class="product-image">
{% endfor %}
</div>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price | money }}</p>
    <form action="/cart/add" method="post">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit">Add to Cart</button>
    </form>
</div>